@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}


/* body {
    background: #88ABC2;
    color: #EBF7F8;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
} */


/* a {
    color: #D0E0EB;
    text-decoration: none;
    outline: none;
} */


/* a:hover,
a:focus {
    color: #fff;
}
 */


/* .content {
    max-width: 1290px;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
}

.component {
    position: relative;
    background: url(../img/gridme.png) repeat center center;
    padding: 4em;
    height: 500px;
    border: 3px solid #49708A;
    max-width: 901px;
    overflow: hidden;
    margin: 0 auto;
}
 */