<div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="loginame" class="sr-only">User name</label>
    <input type="name" id="loginame" class="form-control" placeholder="User name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitlogin">Sign in</button>
    <span calss="my_errors" id="login_error"></span>
</div>