<section>


    <!-- <div class="container"> -->
    <div class=" hoverable">
        <div class="form-group">
            <div class="container">
                <button class=" btn btn-danger btn-xs" id="delete_admin" data-deleteadmin="{{deleteid}}">Delete Admin</button>
            </div>
            <h5 class="form-signin-heading">{{form_name}}</h5>

            <label for="inputname" class="">Administrator Name</label>
            <input type="name" id="inputname" class="form-control" placeholder="Administrator Name" required autofocus>
            <span id="name_error" class="my_errors"></span>
            <br>

            <label for="inpurole" class="">Administrator role</label>
            <select name="role" id="inpurole" class="form-control"> 
                <option disabled selected value> -- select an option -- </option>
                <option value="5" >Owner</option>
                <option value="6" >Maneger</option>
                <option value="7">Sales</option>
              </select>
            <span id="role_error" class="my_errors"></span>

            <br>
            <div id="passwordhide">
                <label for="inputpassword" class="">Administrator Passwoed</label>
                <input type="password" id="inputpassword" pattern=".{6,10}" class="form-control" placeholder="Password" required autofocus>
                <span id="password_error" class="my_errors"></span>
                <br>
            </div>

            <label for="inputphone" class="">Administrator Phone</label>
            <input type="number" id="inputphone" min="10" max="10" class="form-control" placeholder="Administrator Phone" required autofocus>
            <span id="phone_error" class="my_errors"></span>
            <br>



            <label for="inputemail" class="">Administrator e-mail</label>
            <input type="email" id="inputemail" class="form-control" placeholder="Administrator e-mail" required autofocus>
            <span id="email_error" class="my_errors"></span>
            <br>


            <div class="padding_top">

                <label for="st_photo"><h5 class="padding_top">Upload Image File:</h5></label><br/>
                <input id="browse_a" type="file" class="form-control-file" multiple>
                <span id="image_error" class="my_errors"></span>
                <br>

                <div class="component crop">
                    <img id="blah" data-name="" src="#" alt="Your image">
                    <div id="crop_tool"></div>
                </div>





            </div>


        </div>

        <!-- </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <button class=" btn btn-primary btn-lg float-right" value="{{new?}}" id="saveAdmin2" data-adid="{{A_id2}}">Save Admin</button>
                </div>
            </div>
        </div>





</section>