<section>
    <div class="container gray">
        <div class="row">

            <div class="col-md-9 ">
                <h4>student</h4>
            </div>

            <div class="col-md-3  ">
                <button class="editBut btn btn-primary" id="editStudent" data-editid="{{editid}}">edit</button>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 order-4 nopadding">
                <img class="medPhoto" src="{{imgsrc}}">
            </div>
            <div class="col-md-8 order-8 text-left text nopadding">
                <h4>Student name:
                    <br><span id="student_name">{{name}} </span>
                </h4>
                <span>Phone: <span id="student_phone">{{phone}}</span></span><br>
                <span>email:<span id="student_email"> {{email}}</span></span>
            </div>
        </div>
        <div class="container">
        </div>

        <div class="courselist"></div>


</section>